<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <!--welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list-->
  <listener>
  	<listener-class>cn.edu.nju.listener.WebListener</listener-class>
  </listener>
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>cn.edu.nju.utils.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/back/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>RightFilter</filter-name>
  	<filter-class>cn.edu.nju.utils.RightFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>RightFilter</filter-name>
  	<url-pattern>/back/index.jsp</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>userAction</servlet-name>
  	<servlet-class>cn.edu.nju.action.impl.BbsUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userAction</servlet-name>
  	<url-pattern>/userAction</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>channelAction</servlet-name>
  	<servlet-class>cn.edu.nju.action.impl.BbsChannelAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>channelAction</servlet-name>
  	<url-pattern>/channelAction</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>topicAction</servlet-name>
  	<servlet-class>cn.edu.nju.action.impl.BbsTopicAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>topicAction</servlet-name>
  	<url-pattern>/topicAction</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>repliesAction</servlet-name>
  	<servlet-class>cn.edu.nju.action.impl.BbsRepliesAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>repliesAction</servlet-name>
  	<url-pattern>/repliesAction</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>defaultAction</servlet-name>
  	<servlet-class>cn.edu.nju.action.impl.BbsDefaultAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>defaultAction</servlet-name>
  	<url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
</web-app>
